main{
  display: flex;
}

.imageContainer{
  height: 100vh;
  width: 40vw;
  position: relative;
}

.imageBackround{
  height: 100vh;
  width: 40vw;
  background-image: url("../src/assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.card-front{
  position: absolute;
  height: 0;
  width: 80%;
  top: 50px;
  right: -125px;

  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 54.7%;
}

.card-name{
  color: var(--white);
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.card-logo{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 70px;
  height: auto;
}

.card-number{
  font-size: 1.2rem;
  color: var(--white);
  position: absolute;
  top: 40%;
  left: 20%
}

.card-exp{
  position: absolute;
  bottom: 30%;
  right: 10%;
  color: var(--white);
}

.card-back{
  position: absolute;
  bottom: 20px;
  right: -200px;
  height: 0;
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 54.7%;
  color: var(--white)
}

.card-security{
  position: absolute;
  top: 36%;
  right: 15%;
}

.infoContainer{
  width: 55vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media screen and (max-width: 414px){
  main{
    flex-direction: column;
  }

  .imageContainer{
    height: 40vh;
    width: 100vw;
  }

  .imageBackround{
    background-image: url("../src/assets/bg-main-mobile.png");
    width: 100vw;
    height: 40vh;
  }

  .card-front{
    height: 225px;
    width: 300px;
    top: 150px;
    right: 65px;

    background-size: fill;
    padding-top: none;
    z-index: 5;
  }

  .card-logo{
    width: 40px;
  }

  .card-number{
    font-size: 1rem;
    left: 15%;
  }

  .card-back{
    bottom: none;
    top: 10px;
    right: 50px;

    height: 225px;
    width: 300px;

    background-size: contain;
    background-repeat: no-repeat;
    padding-top: none;
  }

  .card-security{
    top: 31%;
  }

  .infoContainer{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px dashed blue;
  }
}