* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Space Grotesk';
  font-size: 18px;
}

:root{
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(270, 3%, 87%);
  --gray: hsl(279, 6%, 55%);
  --dark-violet: hsl(278, 68%, 11%);
  --red: hsl(0, 100%, 66%);
}

/*

- Mobile: 375px
- Desktop: 1440px

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
 
*/