.form-main{
  width: 35vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.form-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.columnWrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.innerExpWrapper{
  display: flex;
  gap: 15px;
}

#expMonth, #expYear{
  width: 70px;
}

#cvc{
  width: 100px
}

.form-name, .form-number, .form-month, .form-year, .form-cvc{
  padding: 5px;
}

.form-btn{
}