.form-main{
  width: 35vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.form-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.columnWrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.innerExpWrapper{
  display: flex;
  gap: 15px;
}

#expMonth, #expYear{
  width: 70px;
}

#cvc{
  width: 100px
}

.form-name, .form-number, .form-month, .form-year, .form-cvc{
  padding: 5px;
  border: 2px solid var(--light-gray);
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
  outline: none;
  border: 2px solid var(--dark-violet);
}

.form-btn{
}

p {
  margin-top: -10px;
  font-size: .8rem;
  color: var(--red)
}